* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 150px auto;
    margin: 0px auto;
    max-width: 1000px;
    width: 90%;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-bottom: 5rem;
}

.photo {
    object-fit: fill;
}

.info {
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding: 10px;
}

.about {
    display: grid;
    justify-self: center;
}

h2 {
    padding-bottom: 2rem;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 40px;
}

.VirtualPet {
    grid-column: 1 / span 1;
    padding-right: 20px;
}

.VirtualPetPhoto {
    grid-column: 2 / span 2;
}

.FizzBuzzPhoto {
    grid-column: 1 / span 2;
}

.FizzBuzz {
    grid-column: 3 / span 1;
    padding-left: 20px;
}

.PatchWork {
    grid-column: 1 / span 1;
    padding-right: 20px;
}

.PatchWorkPhoto {
    grid-column: 2 / span 2;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

img {
    width: 100%;
}