* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 150px auto;
    margin: 0px auto;
    max-width: 1000px;
    width: 90%;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.info {
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding: 1rem;
}

.center-title {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
}

.photo {
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}