@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
:root {
    --font-color: rgb(24, 19, 7);
    --light-font: #ecd9ce;
    --background: #ebb36ba4;
    --darkBackground: #49370fc5;
    --light-background: #eff2f3;
    --peach: rgb(218, 174, 156);
    --magenta: rgb(82, 6, 6);
}

body {
    background-size: cover;
    color: var(--font-color);
    font-family: 'Lora', sans-serif;
    font-size: larger;
}

.project-header {
    background-image: url("./images/peaches-header.jpg");
    background-size: cover;
}

.home {
    background-image: url(./images/peaches.jpg);
}

.project-home {
    background-image: linear-gradient(to right, #f0e4ae, rgb(218, 156, 161));
}

.red {
    color: red;
}

h1 {
    border-bottom: 10px dotted var(--font-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.project-page-title {
    text-shadow: 0 0 5px #ffffff;
}

.info {
    background-color: var(--peach);
    border-radius: 30px;
}

.package {
    background-color: var(--light-background);
    border-radius: 30px;
}

.project-photos {
    justify-items: center;
}

.Projects {
    padding: 10px;
    border-radius: 5px;
}

.project-info {
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

.photo {
    border-radius: 50%;
}

a:hover {
    background-color: var(--peach);
    border-radius: 30px;
    color: var(--magenta;
}

.icon {
    text-shadow: 1px 1px;
}