body {
    background-image: url(./images/Leaves.jpg);
    color: beige;
}

:root {
    --background: rgba(0, 0, 0, 0.473);
}

.info {
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 25px;
}

.project-info {
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 25px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: beige;
}

a:hover {
    background-color: cornflowerblue;
}