@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,300&display=swap');
body {
    background-image: url(./images/Leaves.jpg);
    color: beige;
    font-family: 'Raleway', sans-serif;
}

:root {
    --background: rgba(0, 0, 0, 0.473);
}

.info {
    background-color: var(--background);
    border-radius: 30px;
}

.package {
    background-color: var(--background);
    border-radius: 30px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: beige;
}

a:hover {
    background-color: rgb(53, 114, 91);
}