*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
html{
    background-image: url(https://placekitten.com/1200/900);
background-size: cover ;
}
p {
    background-color: blue;
    color: white;
}
header p {
    background-color: rgb(214, 132, 145);
    color: rgb(60, 7, 73);
}