.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
}

#abilities {
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

#die {
    display: grid;
    grid-template-columns: repeat(6, 6rem);
    grid-template-rows: 6rem
}

img {
    width: 90%;
}

#battle-characters {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#initiate-battle {
    grid-column: 1 / -1;
}