#d20 {
    background: url(./d20.png);
    background-size: cover;
}

#d12 {
    background: url(./d12.png);
    background-size: cover;
}

#d10 {
    background: url(./d10.png);
    background-size: cover;
}

#d8 {
    background: url(./d8.png);
    background-size: cover;
}

#d6 {
    background: url(./d6.png);
    background-size: cover;
}

#d4 {
    background: url(./d4.png);
    background-size: cover;
}

.character-stats {
    display: none;
}

#abilities {
    visibility: hidden;
}