* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 150px auto;
    margin: 0px auto;
    max-width: 1000px;
    width: 90%;
    height: 100vh;
    justify-content: center;
}

.header {
    display: grid;
    justify-content: space-evenly;
    align-content: end;
    padding-bottom: 50px;
}

a {
    display: grid;
    justify-content: center;
}

.project-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-bottom: 5rem;
    column-gap: 30px;
}

.photo {
    object-fit: fill;
    border-color: darkgreen;
    border-radius: 10px;
}

.info {
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding: 30px;
}

.about {
    display: grid;
    justify-self: center;
}

h2 {
    padding-bottom: 2rem;
    place-self: center;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 40px;
}

.VirtualPet,
.PatchWork {
    grid-column: 1 / span 1;
    margin-right: 20px;
}

.FizzBuzz {
    grid-column: 3 / span 1;
    margin-left: 20px;
}

.VirtualPetPhoto,
.PatchWorkPhoto {
    grid-column: 2 / span 2;
}

.FizzBuzzPhoto {
    grid-column: 1 / span 2;
}

.contact {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
    column-gap: 10%;
}

.icon {
    width: 40%;
    justify-self: center;
}

img {
    width: 100%;
}

h1 {
    font-size: 300%;
}